<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link th:href="@{/css/proveedor_list.css}" type="text/css" rel="stylesheet"></link>
    </head>
    <body>
        
  
  <div class="card" th:each="proveedor:${proveedores}">
  <img src=th:img="${proveedor.imagen}" alt="Foto proveedor">
  <div class="info">
    <h2 th:text="${proveedor.nombre}"></h2>
     <h2 th:text="${proveedor.apellido}"></h2>
     <h2 th:text="${proveedor.matricula}"></h2>
   <!-- <p th:text="${proveedor.rubro}"></p>  -->
    <p th:text="${proveedor.descripcion}"></p>
      <!--  <a sec:authorize="hasRole('ADMIN')" th:href="@{/proveedor/modificar/__${proveedor.id}__}"><button>Modificar</button> </a>-->
    <div class="rating">
      Puntuación:
      <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span> 
    </div>
  </div>
</div> 

 
</body>
</html>
