

.card {
      width: 500px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      margin: 20px;
      display: flex;
      align-items: center;
      background-color: antiquewhite;
    }

    .card img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .info {
      flex-grow: 1;
    }

    .info h2 {
      margin: 0;
    }

    .info p {
      margin-top: 5px;
    }

    .rating {
      font-size: 24px;
    }

    .rating span {
      color: gold;
    }

